<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="Database"
            name="db1"
            dbProvider="System.Data.SqlClient"
            connectionStringName="LoggingServices"
            keepConnection="true">

      <commandText>
        INSERT INTO ErrorLog ( LogDate, Level, Message) VALUES ( @Date, @Level, @Message );
      </commandText>
      <parameter name="@Date" layout="${date}"/>
      <parameter name="@Level" layout="${level}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>
  </targets>
  <rules>
    <logger name="Bridge.*" minlevel="Debug" writeTo="db1" />
  </rules>
</nlog>